body{
    font-family: 'Open Sans', sans-serif !important;
}

a{
    text-decoration: none !important;
}


.header-top {
    background-color: #eff6f4;
    height: 200px;
    width: 100%;
}

.logo{
    font-family: 'Chelsea Market', cursive;
    font-size: 40px;
    color: #8155fb;
    padding-right: 10px;
}

.nav-brand{
    font-size: 20px !important;
}

.upper-button{
    color: #2ce080 !important;
    padding: 10px;
    border: 2px solid #2ce080 !important;
    border-radius: 10px !important;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    text-decoration: none !important;
}

.headerset{
    color: #8155fb;
    font-family: 'DM Mono', monospace;
}

.heading1{
    font-size: 4.5rem !important;
}

.heading2{
    font-size: 3rem !important;
}

.top-picks{
    height: 1200px;
    width: 100%;
    padding: 40px 0 40px;
}

.border-bot{
    border-bottom: 5px solid #2ce080 !important;
}

.purple-color{
    color: #8155fb !important;
    font-weight: bold !important;
}

.btn-lg{
    background-color: #2ce080 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    margin: 15px;
}

.btn-lg:hover{
    background-color: white !important;
    color: #2ce080 !important;
    border: 3px solid #2ce080;
}

.mar-top{
    margin-top: 30px !important;
}


.card{
    padding: 20px !important;
    border-radius: 20px !important;
}

.card-title{
    padding: 10px !important;
}

.card-subtitle{
    padding: 10px !important;
}

.card-text{
    padding: 10px !important;
}

.card-link{
    padding: 10px !important;
    color: #8155fb !important;
}

.card:hover{
    border-color: #8155fb;
}

.jumbo{
    background-color: #8155fb !important;
}

.jumbo-heading{
    font-size: 35px !important;
    font-weight: bolder !important;
}

.other-poems{
    width: 100%;
    height: 1300px;
    padding: 30px 0 40px;
}

.new{
    border-radius: 0px;
    margin: 0px 270px 0px 0px !important;
}

.back-img{
    background-image: url('images/jumbo-image.jpg'); 
    background-size: 100% 100%;
    height: 400px;
    border-radius: 20px;
}

.note{
    width: 100%;
    height: 340px;
    padding: 40px 0 60px;
    margin-bottom: 40px;
}

.users-shared{
    width: 100%;
    height: 200px;
    padding: 40px 0 40px;
}

.footer{
    height: 50px;
    margin-top: 40px;
}

.footer h6{
    line-height: 50px;
}

@media(min-width: 992px){
.other-poems{
    width: 100%;
    height: 1500px;
    padding: 30px 0 40px;
}

.note h1{
    font-size: 30px !important;
}

.users-shared{
    width: 100%;
    height: 230px;
    padding: 40px 0 40px;
}

.new{
    border-radius: 0px;
    margin: 0px 220px 0px 0px !important;
}
}

@media(min-width: 768px) and (max-width: 991px){
.card-title{
    font-size: 25px !important;
}

.top-picks{
    height: 900px;
    width: 100%;
    padding: 40px 0 40px;
}


.other-poems{
    width: 100%;
    height: 1400px;
    padding: 30px 0 40px;
}

.note{
    width: 100%;
    height: 400px;
    padding: 40px 0 60px;
    margin-bottom: 40px;
}


.note h1{
    font-size: 30px !important;
}

.users-shared{
    width: 100%;
    height: 230px;
    padding: 40px 0 40px;
}

.new{
    border-radius: 0px;
    margin: 0px 120px 0px 0px !important;
}
}

@media(min-width: 575px) and (max-width: 767px){
.top-picks{
    height: 3200px;
    width: 100%;
    padding: 40px 0 40px;
}

.other-poems{
    width: 100%;
    height: 3200px;
    padding: 30px 0 40px;
}

.note{
    width: 100%;
    height: 400px;
    padding: 40px 0 60px;
    margin-bottom: 40px;
}

.users-shared{
    width: 100%;
    height: 230px;
    padding: 40px 0 40px;
}

}

@media(min-width: 460px) and (max-width: 574px){
.top-picks{
    height: 3000px;
    width: 100%;
    padding: 40px 0 40px;
}

.other-poems{
    width: 100%;
    height: 3400px;
    padding: 30px 0 40px;
}

.note{
    width: 100%;
    height: 500px;
    padding: 40px 0 60px;
    margin-bottom: 40px;
}

.users-shared{
    width: 100%;
    height: 300px;
    padding: 40px 0 40px;
}

.heading1{
    font-size: 3.5rem !important;
    padding-left: 10px;
}
}

@media(max-width: 460px){
.top-picks{
    height: 2600px;
    width: 100%;
    padding: 40px 0 40px;
}

.other-poems{
    width: 100%;
    height: 3400px;
    padding: 30px 0 40px;
}

.note{
    width: 100%;
    height: 500px;
    padding: 40px 0 60px;
    margin-bottom: 40px;
}

.users-shared{
    width: 100%;
    height: 300px;
    padding: 40px 0 40px;
}

.heading1{
    font-size: 3.5rem !important;
    padding-left: 10px;
}


.new{
    border-radius: 0px;
    margin: 0px 180px 0px 0px !important;
}
}